
/* Shared Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.primary-butn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
    border: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.primary-butn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #e8519f 0%, #f22890 100%);
}

.btn-2 {
    background-color: #4EC5F7;
    border-radius: 48px;
    padding: 21px 40px;
    border: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-2:hover {
    background-color: #22b4f2;
    cursor: pointer;
}

.btn-3 {
    border-radius: 48px;
    background-color: #fff;
    color: #FF42A5;
    padding: 1rem 2.5rem;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 2rem;
}

.btn-3:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

/* nav bar section style*/


.nav-bar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 86px;
    height: 40px;
}

.nav-left h2 {
    font-size: 2.5rem;
    margin-left: .5rem;
}

.gamer-g {
    color: #FF42A5;
}

.nav-right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-youtube {
    color: rgba(255, 0, 0, 0.5);
    margin-left: 10px;
}

.fa-tiktok {
    color: rgba(5, 5, 5,.5);
    margin-left: 10px;
}

.fa-youtube:hover {
    color: rgba(255, 0, 0, 1);
}

.fa-tiktok:hover {
    color: rgba(5, 5, 5,1);
    margin-left: 10px;
}

.nav-right ul li {
    list-style: none;
    margin-left: 2rem;
}

.nav-right ul li a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}

.nav-right ul li a:hover {
    color: #3c354fc0;
}

.nav-right .follow-us-on {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.youtube {
    color: red;
    margin-left: 10px;
}

.tiktok {
    margin-left: 10px;
}


/* first banner css */
.banner {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 50%;
}

.banner-container {
    max-width: 1400px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
}

.banner-container .flex-item {
    width: 50%;
}

.banner-photo {
    width: 100%;
    text-align: right;
}

.banner-photo img {
    width: 85%;
}

.banner-content h2 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content .p1 {
    color: #534C64;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: lowercase;
    margin-bottom: .8rem;
}

.banner-content .p2 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.banner-content .p3 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.banner-content p i {
    color: #FF42A5;
    width: 1.8rem;
}

.banner-content-btn-container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.3rem;
}


/* we are gamer section css  */
.we-are-gamer {
    max-width: 1400px;
    margin: auto;
}

.we-gamer-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.we-gamer-container>div {
    width: 50%;
}

.we-gamer-photo {
    width: 100%;
}

.we-gamer-photo img {
    width: 100%;
}

.we-gamer-content {
    text-align: right;
}

.we-gamer-content h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.we-gamer-content p {
    color: #534C64;
    font-size: 18px;
    margin-bottom: 1rem;
}

.we-gamer-purposes {
    margin-top: 1rem;
}

/* footer section css  */

footer {
    height: fit-content;
    background-color: #010101;
    color: white;
    margin-top: 5rem;
}

.footer-container {
    max-width: 1400px;
    margin: auto;
    padding: 4rem;
    text-align: center;
}

.footer-container .nav-left {
    justify-content: center;
}

.footer-link ul {
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-link a {
    text-decoration: none;
    color: white;
    margin: 1.5rem;
}

.footer-icon {

    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-icon i {
    color: white;
    font-size: 2rem;
    margin: 1rem;
}
.footer-icon i:hover {
    color: rgba(255, 255, 255, 0.9);
}
.policy {
    margin: 2rem auto;
    ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.policy a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}


/* online game css  */

.online-games {
    max-width: 1400px;
    margin: 3rem auto;
}

.online-games h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.online-games-subtitle {
    text-align: center;
    margin-bottom: 2rem;
}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-container {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card-container p {
    margin-top: .5rem;
}

.card-img {
    position: relative;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-img i {
    display: block;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    z-index: 3;
    display: none;
}

.card-img::after {
    content: "";
    position: absolute;
    top: -2%;
    left: -1%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.card-img:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: pointer;
    border: 5px solid #FF42A5;
}

.card-img:hover .icon {
    display: inline-block;
}


/* play instantly css  */

.play-games-section {
    max-width: 1400px;
    margin: auto;
    height: fit-content;
}

.play-games-section-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.play-left {
    text-align: right;
}

.play-left h2 {
    font-size: 2.5rem;
    width: 300px;
}

.play-left h2 span {
    color: #F948B2;
}

.play-left p {
    width: 310px;
}

.img-container {
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
}

.img1 {
    width: 80%;
}

.img2 {
    width: 50%;
}

.img-container .img2 {
    position: absolute;
    bottom: -10%;
    left: -15%;
}

/* all game section  */

.all-game-icon {
    max-width: 1400px;
    margin: auto;
    margin-top: 5rem;
}

.all-game-icon .card img {
    width: 50px;
    height: 50px;
}

.all-game-icon .card {
    display: flex;
    justify-self: space-between;
    align-items: center;
    width: 260px;
    height: 60px;
    flex-shrink: 0;
    background: #FFF;
    gap: 1rem;
    border: 1px solid transparent;
    padding: 0.5rem;
    margin: .3rem;
}

.all-game-icon-container {
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.all-game-icon .card:hover {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
    border-radius: 3rem;
    cursor: pointer;
}


/* career section css  */

.careers {
    background: url("../images/Vector\ 2.png"), linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.careers-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.careers-container .item {
    width: 50%;
}

.career-img img {
    width: 100%;
}

.career-content-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.first {
    text-align: left;
}

.second {
    text-align: right;
}

.career-content h2 {
    font-size: 3rem;
    margin-bottom: .6rem;
}

.career-content>p {
    font: 1.2rem;
    margin-bottom: 1rem;
    width: 90%;
}

.career-content-container p {
    margin-bottom: .3rem;
}
